*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {    
    font-size: 3rem;    
}

.container{
    margin: 5rem auto;
    width: 120rem;
    height: 100vh;
}
.grid_box{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;

    padding: 1rem;
    border: 1px solid #eeeeee;
    border-radius: 9px;
    box-shadow: -1px -1px 15px 5px #eeeeee;
}

input[type=number] {    
    width: 4em;
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid green;
}
.input_text{
    font-size: 1.5rem;    
}

#submit{
    background-color: transparent;
    border: 1px solid green;

    display: block;
    margin-top: 1rem;
    padding: .5rem 2rem;
    cursor: pointer;    
    outline: none;
}
#submit:hover{
    background-color: green;
    color: #fff;
}

#design_text{
    display: block;
    margin: 1rem 0 0.25rem;
    font-size: 1.5rem;
}



table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 2rem;
}

td {
    width: 3rem;
}

